{% extends 'YSUserBundle::base.html.twig' %}
{% block customMenu %}
    <li class="{{ app.request.attributes.get('_route') == 'ys_blog_homepage' ? 'active' }}"><a href="{{ path('ys_blog_homepage') }}">Blog</a></li>
{% endblock %}