{% extends 'YSUserBundle::base.html.twig' %}
{% block customMenu %}
    <li class="{{ app.request.attributes.get('_route') == 'ys_blog_list' ? 'active' }}"><a href="{{ path('ys_blog_list') }}">Blog</a></li>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ysblog/assets/js/frontend.js') }}"></script>
{% endblock %}