{% extends 'YSBlogBundle::base.html.twig' %}

{% block body %}
    <div class="main container">
        <h1>YSBlogBundle</h1>
        <ul>
            {% for blogPost in blogPosts %}
                <li>{{ blogPost.title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}