{% extends 'YSBlogBundle::base.html.twig' %}

{% block body %}
    <div class="main container">
        <ul class="collection">
            {% for blogPost in blogPosts %}
                <li class="collection-item">
                    <span class="title">{{ blogPost.title }}</span>
                    {% autoescape %}
                        {{ blogPost.body|raw }}
                    {% endautoescape %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}