{% extends 'YSBlogBundle::base.html.twig' %}

{% block body %}
    <div class="main container">
        <div class="card">
            <div class="card-content">
                <h5>{{ blogPost.title }}</h5>
                {% autoescape %}
                    {{ blogPost.body|raw }}
                {% endautoescape %}
            </div>
            <div class="card-action">
                {% if(userId == blogPost.user.id) %}
                    <a class="btn" href="{{ path('ys_blog_edit', {'id': blogPost.id}) }}">Edit</a>
                    <a class="btn" href="{{ path('ys_blog_delete', {'id': blogPost.id}) }}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}